<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Single Page Web Site</title>

    <style>

        #pongCanvas {
            background-color: pink;
            /* Diğer stilleriniz... */
        }
        #avatarImage {
            width: 100px;  /* Resmin genişliği */
            height: 100px; /* Resmin yüksekliği */
            border-radius: 50%; /* Yuvarlak şekil vermek için */
            object-fit: cover; /* Resmi çerçeveye sığdırmak için */
        }

    </style>
</head>
<body>


<div id="content" class="container">
    <h1>Hoş Geldiniz</h1>
    <a href="/login" id="loginButton" class="btn btn-primary">Giriş Yap</a>
    <a href="/register" id="registerButton" class="btn btn-primary">Üye Ol</a>
    <a href="/game"class="btn btn-primary"> Deneme Oyunu </a>
</div>


<script src="{% static 'js/main.js' %}"></script>
<!-- <script src="js/script.js"></script> -->
</body>
</html>